.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.headerSpan {
    color: 'white';
    font-size: xx-large;
}

.container h2 {
    font-size: 5rem;
}

.container a {
    font-size: 1.4rem;
}